div{
    outline:1px soild lime;
}

.container{
    width:920px;
    margin-left:auto;
    margin-right:auto;
}

.header{
    background:blue;
    width:920px;
    height:200px;
}

.content{
    background-color:green;
    height:100px;
    width:920px;
}

.red{
    background-color:red;
    height:500px;
    width:920px;
}

.yellowbox{
    background-color:yellow;
    height:80px;
    width:400px;
    float:left;
    margin-top:10px;
    margin-left:20px;
}

.yellowbox{
    background-color:yellow;
    height:460px;
    width:400px;
    float:left;
    margin-top:10px;
    margin-left:20px;
}